[submodule "AdafruitStepperMotorHAT_CPP"]
	path = AdafruitStepperMotorHAT_CPP
	url = https://github.com/threebrooks/AdafruitStepperMotorHAT_CPP.git
[submodule "Awesome-CV"]
	path = Awesome-CV
	url = https://github.com/posquit0/Awesome-CV.git
[submodule "CtCI"]
	path = CtCI
	url = https://github.com/careercup/CtCI-6th-Edition-cpp
[submodule "Arduino_FreeRTOS_Library"]
	path = Arduino_FreeRTOS_Library
	url = https://github.com/feilipu/Arduino_FreeRTOS_Library.git
[submodule "Arduino_CMAKE"]
	path = Arduino_CMAKE
	url = https://github.com/queezythegreat/arduino-cmake.git
[submodule "Awesome_Courses"]
	path = Awesome_Courses
	url = https://github.com/prakhar1989/awesome-courses.git
[submodule "Betty"]
	path = Betty
	url = https://github.com/pickhardt/betty.git
[submodule "Self_Driving_Robot_Car"]
	path = Self_Driving_Robot_Car
	url = https://github.com/bdjukic/selfdriving-robot-car.git
[submodule "Interview-Prep"]
	path = Interview-Prep
	url = https://github.com/derekargueta/Interview-Prep.git
[submodule "rendezvous"]
	path = rendezvous
	url = https://github.com/fly4smartcity/rendezvous.git
[submodule "rendezvous/jQuery-Flight-Indicators"]
	path = rendezvous/jQuery-Flight-Indicators
	url = https://github.com/sebmatton/jQuery-Flight-Indicators.git
[submodule "udacity-cs344-colab"]
	path = udacity-cs344-colab
	url = https://github.com/depctg/udacity-cs344-colab.git
[submodule "config"]
	path = config
	url = https://github.com/ph03/config.git
[submodule "youtube-dl"]
	path = youtube-dl
	url = https://github.com/ytdl-org/youtube-dl.git
[submodule "thefuck"]
	path = thefuck
	url = https://github.com/nvbn/thefuck.git
[submodule "system-design-primer"]
	path = system-design-primer
	url = https://github.com/donnemartin/system-design-primer.git
[submodule "system-design-interview"]
	path = system-design-interview
	url = https://github.com/checkcheckzz/system-design-interview.git
[submodule "bestWebsitesAProgrammerShouldVisit"]
	path = bestWebsitesAProgrammerShouldVisit
	url = https://github.com/sdmg15/Best-websites-a-programmer-should-visit.git
[submodule "cPlusPlusAlgos"]
	path = cPlusPlusAlgos
	url = https://github.com/TheAlgorithms/C-Plus-Plus.git
[submodule "projectBasedLearning"]
	path = projectBasedLearning
	url = https://github.com/tuvtran/project-based-learning.git
[submodule "awesomeInterviewQuestions"]
	path = awesomeInterviewQuestions
	url = https://github.com/DopplerHQ/awesome-interview-questions.git
[submodule "Awesome-Mac"]
	path = Awesome-Mac
	url = https://github.com/jaywcjlove/awesome-mac.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/cowboy/dotfiles.git
[submodule "GFPGAN"]
	path = GFPGAN
	url = https://github.com/TencentARC/GFPGAN.git
