[submodule "AdafruitStepperMotorHAT_CPP"]
	path = AdafruitStepperMotorHAT_CPP
	url = https://github.com/threebrooks/AdafruitStepperMotorHAT_CPP.git
[submodule "Awesome-CV"]
	path = Awesome-CV
	url = https://github.com/posquit0/Awesome-CV.git
[submodule "CtCI"]
	path = CtCI
	url = https://github.com/careercup/CtCI-6th-Edition-cpp
[submodule "Arduino_FreeRTOS_Library"]
	path = Arduino_FreeRTOS_Library
	url = https://github.com/feilipu/Arduino_FreeRTOS_Library.git
[submodule "Arduino_CMAKE"]
	path = Arduino_CMAKE
	url = https://github.com/queezythegreat/arduino-cmake.git
[submodule "Awesome_Courses"]
	path = Awesome_Courses
	url = https://github.com/prakhar1989/awesome-courses.git
[submodule "Betty"]
	path = Betty
	url = https://github.com/pickhardt/betty.git
[submodule "Self_Driving_Robot_Car"]
	path = Self_Driving_Robot_Car
	url = https://github.com/bdjukic/selfdriving-robot-car.git
[submodule "Interview-Prep"]
	path = Interview-Prep
	url = https://github.com/derekargueta/Interview-Prep.git
[submodule "rendezvous"]
	path = rendezvous
	url = https://github.com/fly4smartcity/rendezvous.git
[submodule "rendezvous/jQuery-Flight-Indicators"]
	path = rendezvous/jQuery-Flight-Indicators
	url = https://github.com/sebmatton/jQuery-Flight-Indicators.git
[submodule "udacity-cs344-colab"]
	path = udacity-cs344-colab
	url = https://github.com/depctg/udacity-cs344-colab.git
