[submodule "Awesome-CV"]
	path = Awesome-CV
	url = https://github.com/posquit0/Awesome-CV.git
	update = rebase
	branch = master
[submodule "Awesome-Mac"]
	path = Awesome-Mac
	url = https://github.com/jaywcjlove/awesome-mac.git
	update = rebase
	branch = master
[submodule "Awesome_Courses"]
	path = Awesome_Courses
	url = https://github.com/prakhar1989/awesome-courses.git
	update = rebase
	branch = master
[submodule "awesomeInterviewQuestions"]
	path = awesomeInterviewQuestions
	url = https://github.com/DopplerHQ/awesome-interview-questions.git
	update = rebase
	branch = master
[submodule "bestWebsitesAProgrammerShouldVisit"]
	path = bestWebsitesAProgrammerShouldVisit
	url = https://github.com/sdmg15/Best-websites-a-programmer-should-visit.git
	update = rebase
	branch = master
[submodule "githubdaily"]
	path = githubdaily
	url = https://github.com/GitHubDaily/GitHubDaily
	update = rebase
	branch = master
[submodule "educative.io_courses"]
	path = educative.io_courses
	url = https://github.com/techtanic/educative.io_courses.git
	update = rebase
	branch = master
[submodule "every-programmer-should-know"]
	path = every-programmer-should-know
	url = https://github.com/mtdvio/every-programmer-should-know.git
	update = rebase
	branch = master
[submodule "GFPGAN"]
	path = GFPGAN
	url = https://github.com/TencentARC/GFPGAN.git
	update = rebase
	branch = master
[submodule "Interview-Prep"]
	path = Interview-Prep
	url = https://github.com/derekargueta/Interview-Prep.git
	update = rebase
	branch = master
[submodule "llm/exo"]
	path = llm/exo
	url = https://github.com/exo-explore/exo
	update = rebase
	branch = master
[submodule "llm/goose"]
	path = llm/goose
	url = https://github.com/block/goose.git
	update = rebase
	branch = master
[submodule "llm/open-voice"]
	path = llm/open-voice
	url = https://github.com/myshell-ai/OpenVoice
	update = rebase
	branch = master
[submodule "llm/repomix"]
	path = llm/repomix
	url = https://github.com/yamadashy/repomix
	update = rebase
	branch = master
[submodule "mac-appify"]
	path = mac-appify
	url = https://github.com/andrewpetrochenkov/mac-appify.git
	update = rebase
	branch = master
[submodule "macOS_Big_Sur_icons_replacements"]
	path = macOS_Big_Sur_icons_replacements
	url = https://github.com/elrumo/macOS_Big_Sur_icons_replacements.git
	update = rebase
	branch = master
[submodule "projectBasedLearning"]
	path = projectBasedLearning
	url = https://github.com/tuvtran/project-based-learning.git
	update = rebase
	branch = master
[submodule "public-apis"]
	path = public-apis
	url = https://github.com/public-apis/public-apis.git
	update = rebase
	branch = master
[submodule "rendezvous"]
	path = rendezvous
	url = https://github.com/fly4smartcity/rendezvous.git
	update = rebase
	branch = master
[submodule "rendezvous/jQuery-Flight-Indicators"]
	path = rendezvous/jQuery-Flight-Indicators
	url = https://github.com/sebmatton/jQuery-Flight-Indicators.git
	update = rebase
	branch = master
[submodule "saas-starter"]
	path = saas-starter
	url = https://github.com/nextjs/saas-starter.git
	update = rebase
	branch = master
[submodule "simplebank"]
	path = simplebank
	url = https://github.com/techschool/simplebank
	update = rebase
	branch = master
[submodule "system-design-interview"]
	path = system-design-interview
	url = https://github.com/checkcheckzz/system-design-interview.git
	update = rebase
	branch = master
[submodule "system-design-primer"]
	path = system-design-primer
	url = https://github.com/donnemartin/system-design-primer.git
	update = rebase
	branch = master
[submodule "theEmbeddedNewTestament.github.io"]
	path = theEmbeddedNewTestament.github.io
	url = https://github.com/theEmbeddedGeorge/theEmbeddedNewTestament.github.io.git
	update = rebase
	branch = master
[submodule "udacity-cs344-colab"]
	path = udacity-cs344-colab
	url = https://github.com/depctg/udacity-cs344-colab.git
	update = rebase
	branch = master
[submodule "wsl-dotfiles"]
	path = wsl-dotfiles
	url = https://github.com/Xyene/wsl-dotfiles.git
	update = rebase
	branch = master
[submodule "youtube-dl"]
	path = youtube-dl
	url = https://github.com/ytdl-org/youtube-dl.git
	update = rebase
	branch = master
